environment = "dev"
prefix      = "aca"
location    = "eastus2"

tags = {
  owner   = "jksonar@gmail.com"
  project = "container-apps-baseline"
}

vnet_address_space              = ["10.10.0.0/16"]
appgw_subnet_prefix             = "10.10.0.0/24"
container_apps_subnet_prefix    = "10.10.2.0/23"
private_endpoints_subnet_prefix = "10.10.4.0/24"
postgresql_subnet_prefix        = "10.10.5.0/24"

container_app_environment_workload_profile = true
container_image                            = "mcr.microsoft.com/azuredocs/containerapps-helloworld:latest"

container_app_min_replicas = 1
container_app_max_replicas = 2

acr_sku    = "Premium"
enable_waf = false # relax in dev to save cost; enable for staging/prod

appgw_min_capacity = 1
appgw_max_capacity = 2

log_analytics_retention_days = 30

# PostgreSQL Flexible Server - Burstable/cheap, matches Django_todo_app's .env.dev
postgresql_sku_name                     = "B_Standard_B1ms"
postgresql_storage_mb                   = 32768
postgresql_version                      = "16"
postgresql_administrator_login          = "psqladmin"
postgresql_database_name                = "taskmanager_dev"
postgresql_backup_retention_days        = 7
postgresql_geo_redundant_backup_enabled = false
postgresql_high_availability_enabled    = false
